/* 
    display: flex;
    justify-content: flex-start;
    justify-content: flex-end;
    justify-content: center;
    justify-content: space-between;
    justify-content: space-around;
    justify-content: space-evenly;
    align-items: flex-start;
    align-items: flex-end;
    align-items: center;
    align-items: stretch;
*/

#parent{
    display: flex;
    justify-content: space-between;
}

.box {
    border: 1px solid black;
    text-align: center;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightpink;
}