/* * {
    box-sizing: border-box;
}

html, body { margin: 0; }

#div1 {
    width: 100px;
    height: 50px;
    background-color: aqua;
}

#div2 {
    width: 100px;
    height: 50px;
    background-color: red;
    border: 1px solid black;
} */


.box {
    border: 1px solid lightblue;
}
#parent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#child1 {
    /* flex: 2;
    order: 2;
    text-align: center; */
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

#child2 {
    /* flex: 1;
    order: 1; */
    flex: 2;
    display: none;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
}

#child3 {
    flex: 1;
    display: none;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
}
@media (min-width: 992px) {

    #child1 {
        display: flex;
        justify-content: flex-start;
    }
    #child2 {
        display: flex;
        flex: 2;
        justify-content: flex-end;
        align-self: center;
    }
}

@media (min-width: 1200px) {

    #child1 {
        order: 2;
        flex: 1;
        justify-content: center;
    }
    #child2 {
        display: flex;
        order: 3;
        flex: 1;
   
    }
    #child3 {
        display: flex;
        order: 1;
        flex: 1;
    }
}
